body {
  margin: 0;
  background-repeat: no-repeat;
  background: url("./img/mural.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* #background {
  margin: 0;
  height: 100vh;
  background-size: 40px 40px;
  background-image: linear-gradient(to right, white 1px, transparent 1px),
    linear-gradient(to bottom, white 1px, transparent 1px);
} */

.cuadrado {
  width: 100px;
  height: 100px;
  background: #428bca;
}
