body {
  background-repeat: no-repeat;
  height: 100vh;
  background-image: url("https://pbs.twimg.com/media/C4qaeE3UkAEDhP1.jpg");
}

#background {
  position: relative;
  top: -7px;
  height: 100vh;
  background-size: 40px 40px;
  background-image: linear-gradient(to right, white 1px, transparent 1px),
    linear-gradient(to bottom, white 1px, transparent 1px);
  left: -8px;
}
